body {
    font-family: 'Arial', sans-serif;
    background-color: #ad1616;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: #ffffff;
    font-size: 500%;
}

h2 {
    text-align: center;
    color: #ffffff;
}

h3 {
    text-align: center;
    color: #ffffff;
}

section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image-wrapper¨{
    width: 45%;
    margin: 10px;
    text-align: center;
}

img {
    width: 700px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

img:hover {
    transform: scale(1.1);
}

p {
    margin: 80px 0 0;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
}

footer {
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    margin: 80px 0 0;
}